<!DOCTYPE html>
<html lang="sl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Šolski radio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="shortcut icon" type="image/png" href="images/kujira.jpg">
  <style>
    body {
      background-color: #f4f4f4;
    }

    .ui.menu .header.item {
      font-size: 1.5em;
    }

    section.container {
      margin-top: 20px;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .ui.segment {
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .feature-box {
      display: flex;
      align-items: center;
      margin-top: 20px;
      cursor: pointer;
    }

    .feature-icon {
      font-size: 2em;
      margin-right: 15px;
    }

    audio {
      width: 100%;
      margin-top: 10px;
      background-color: #282c34;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    audio::-webkit-media-controls {
      background-color: #282c34;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    audio::-webkit-media-controls-play-button {
      color: #ff6363;
    }

    audio::-webkit-media-controls-volume-slider {
      background-color: transparent;
    }

    button.ui.red.button {
      margin-top: 10px;
      background-color: #ff6363;
      color: white;
    }

    /* Dodatki za sodobnejši izgled predvajalnika */
    audio::-webkit-media-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    audio::-webkit-media-controls-play-button {
      font-size: 20px;
    }
  </style>
</head>

<body>
  <nav class="ui inverted black menu">
    <header class="header item"> <a href="/"> Šolski radio </a> </header>
    <div class="right menu">
      <a class="item" href="/data"> Data</a>
      <a class="item" href="/radio"> Radio</a>
      <% if (user) { %>
        <a class="item" href="/upload"> Nalaganje</a>
        <a class="item" href="/library"> Knjižnica</a>
        <a class="item" href="/settings"> <%= user.name %></a>
        <a class="item" href="/logout"> Logout</a>
      <% } else { %>
        <a class="item" href="/login"> Login</a>
      <% } %>
    </div>
  </nav>
  <section class="ui container">
    <h1 class="ui dividing header">Dobrodošli na šolskem radiu</h1>
    <div class="feature-box" onclick="window.location.href='/upload'">
      <i class="circular massive upload icon feature-icon"></i>
      <div>
        <h2>Nalaganje Glasbe</h2>
        <p>Naložite svoje najljubše pesmi in prispevajte k naši glasbeni zbirki.</p>
      </div>
    </div>
    <div class="feature-box" onclick="window.location.href='/library'">
      <i class="circular massive book icon feature-icon"></i>
      <div>
        <h2>Knjižnica</h2>
        <p>Raziščite našo glasbeno knjižnico s številnimi naloženimi pesmimi.</p>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.ui.dropdown').dropdown({ on: 'hover' });
    });
  </script>
</body>

</html>
