<!DOCTYPE html>
<html lang="sl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Šolski radio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
  <link rel="shortcut icon" type="image/png" href="images/kujira.jpg">
  <style>
    body {
      background-color: #f0f0f0;
    }
    .ui.menu .header.item {
      font-size: 1.5em;
    }
    section.container {
      margin-top: 20px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .ui.segment {
      margin-top: 20px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    audio {
      width: 100%;
    }
    button.ui.red.button {
      margin-top: 10px;
    }
    /* Dodano za "drag & drop" območje */
    #dropArea {
      border: 2px dashed #ccc;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }

    #dropArea.dragover {
      background-color: #f0f0f0;
    }

    #fileInput {
      display: none;
    }

    #fileSelectedText {
      margin-top: 10px;
      display: none;
    }
  </style>
</head>
<body>
  <nav class="ui inverted black menu">
    <header class="header item"> <a href="/"> Šolski radio </a> </header>
    <div class="right menu">
      <a class="item" href="/data"> Data</a>
      <a class="item" href="/radio"> Radio</a>
      <% if (user) { %>
        <a class="item" href="/upload"> Nalaganje</a>
        <a class="item" href="/library"> Knjižnica</a>
        <a class="item" href="/settings"> <%= user.name %></a>
        <a class="item" href="/logout"> Logout</a>
      <% } else { %>
        <a class="item" href="/login"> Login</a>
      <% } %>
    </div>
  </nav>
  <section class="ui container">
    <h1 class="ui dividing header">Nalaganje pesmi</h1>
    <form class="ui form" action="/upload" method="post" enctype="multipart/form-data">
      <div class="field">
        <label>Ime pesmi</label>
        <input type="text" name="songName" placeholder="Ime pesmi" required>
      </div>
      <div class="field">
        <label>Izvajalec</label>
        <input type="text" name="artist" placeholder="Izvajalec" required>
      </div>
      <!-- "Drag & drop" območje -->
      <div id="dropArea" onclick="handleClick()" ondragover="handleDragOver(event)" ondrop="handleDrop(event)">
        Povlecite sem datoteke ali kliknite za nalaganje.
      </div>
      <!-- Polje za nalaganje, skrito, da ne prikazuje privzete oblike -->
      <input type="file" name="musicFile" accept=".mp3" required id="fileInput">
      <!-- Odzivno besedilo ob izbrani datoteki -->
      <div id="fileSelectedText"></div>
      <br>
      <button class="ui button" type="submit">Naloži</button>
    </form>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.ui.dropdown').dropdown({ on: 'hover' });

      const dropArea = document.getElementById('dropArea');
      const fileInput = document.getElementById('fileInput');

      dropArea.addEventListener('dragover', handleDragOver);
      dropArea.addEventListener('dragleave', handleDragLeave);
      dropArea.addEventListener('drop', handleDrop);
      dropArea.addEventListener('click', handleClick);
      fileInput.addEventListener('change', handleFileChange);

      function handleDragOver(event) {
        event.preventDefault();
        dropArea.classList.add('dragover');
      }

      function handleDragLeave(event) {
        event.preventDefault();
        dropArea.classList.remove('dragover');
      }

      function handleDrop(event) {
        event.preventDefault();
        dropArea.classList.remove('dragover');
        const files = event.dataTransfer.files;
        handleFiles(files);
      }

      function handleFiles(files) {
        fileInput.files = files;
        if (files.length > 0) {
          dropArea.innerHTML = `Izbrana datoteka: ${files[0].name}`;
        } else {
          dropArea.innerHTML = 'Povlecite sem datoteke ali kliknite za nalaganje.';
        }
      }

      function handleClick() {
        fileInput.click();
      }

      function handleFileChange() {
        handleFiles(fileInput.files);
      }
    });
  </script>
</body>
</html>
